<div class="container">
  <div class="upper_section">
    <div class="recipe_heading text-center">
      <h2><%=@recipe.name %></h2>
    </div>
    <div class="recipe_details">
      <div class="d-flex justify-content-between align-items-center">
        <p class="m-0"><%= "Preparation Time: #{@recipe.preparation_time} hour"%></p>
         <% if !current_user.nil? && current_user.id == @recipe.user_id %>
        <%= form_for @recipe do |f| %>
          <div class="custom-control custom-switch">
            <%= f.check_box :public, id: "visibility-toggle", class: "custom-control-input" %>
            <%= f.label :public, class: "custom-control-label", for: "visibility-toggle" %>
          </div>
          
          <%= f.submit "Update Visibility", class: "btn btn-primary" %>
          <%end%>
        <% end %>
      </div>
      <p><%= "Cooking Time: #{@recipe.cooking_time} hour"%></p>
      <p><%= "Steps to prepare: #{@recipe.description}"%></p>
    </div>
  </div>
   <% if !current_user.nil? && current_user.id == @recipe.user_id %>
<div class="buttons mt-5" style='display:flex; justify-content: space-between;'>
  <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-primary' %>
</div>
<%end%>
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
    
    </table>
  </div>
</div>





