<h1>Food List</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity%></td>
        <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure you want to delete this food?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Food', new_food_path %>
